@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;600&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lexend', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #121212;
    color: white;
    text-align: center;
    flex-direction: column;
    overflow-y: auto;
    scroll-behavior: smooth;
    position: relative;
    cursor: none;
}

#vanta-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

h1 {
    font-size: 2.5em;
    font-weight: 600;
}

.description {
    font-size: 1.2em;
    font-weight: 300;
    max-width: 600px;
    margin-top: 10px;
}

.link {
    font-weight: bold;
    background-image: linear-gradient(90deg, #333333, #cccccc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5em;
    display: inline-block;
    text-decoration: none;
    margin: 15px 0;
    transition: 0.3s;
}

.link:hover {
    transform: scale(1.1);
}

.image-container {
    margin-top: 15px;
    cursor: pointer;
}

.image-container img {
    width: 400px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.image-container img.show {
    opacity: 1;
    transform: translateY(0);
}

.fullscreen-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
}

.fullscreen-img img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}

.fullscreen-img.active {
    opacity: 1;
    visibility: visible;
}

.kursor {
    width: 4px;
    height: 4px;
    background-color: white;
    border-radius: 50%;
    mix-blend-mode: difference;
}
